<%- include('partials/header') -%>

  <!-- main -->
  <section class="section container blue lighten-5" id="main">
    <div class="row">
      <div class="col">
        <h5 class="teal-text">Exam Details</h5>
        <p>Complete the details for the exam below, and click on <b>GENERATE</b> to create the desired number of papers.</p>
        <p>Review the <a href="tutorials-exams" target="_blank">tutorial <i class="tiny material-icons">open_in_new</i></a> for help.</p>
      </div>
    </div>
    <form id="examForm">
      <div class="row">
        <div class="col s12 m8 l5">
          <div class="input-field">
            <label for="name">Exam name</label>
            <input type="text" id="name" name="name" required pattern="^[a-zA-Z0-9][a-zA-Z0-9 ]*">
          </div> 
          <div class="input-field">
            <label for="paperCount">Paper count</label>
            <input type="number" min="1" max="100" step="1" id="paperCount" name="paperCount" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 l8">
          <div id="coverPage">
            <h6>Exam Cover Page</h6>
            <label>
              <input type="checkbox" id="coverPageCheckBox" onChange="checkBoxChanged(this, 'coverPage');"/>
              <span>Include a cover page</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l6">
          <div id="questions">
            <h6>Select Questions</h6>
            <% if (questions.length === 0) { %>
              <p>No questions to display.</p>
            <% } else { %>
              <ul id='questionList' class="collection with-header">
                <% questions.forEach(q => { %>
                  <li class="collection-item"><div><%= q.question.name %><a href="#!" class="secondary-content">
                    <label>
                      <input type="checkbox" onChange="questionCheckBoxChanged(this, '<%= q.id %>');"/><span></span>
                    </label> 
                  </a><a href="#previewModal" class="secondary-content modal-trigger" onClick="previewQuestion('<%= q.id %>');"><i class="material-icons">zoom_in</i></a></div></li> 
                <% }) %>
              </ul>
            <% } %>
          </div>
          <div id="instructionSections">
            <h6>Instruction Sections</h6>
            <a class="btn-floating btn-small waves-effect waves-light red" id="btnInstructions">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m10 l8">
          <div id="appendix">
            <h6>Appendix</h6>
            <label>
              <input type="checkbox" id="appendixCheckBox" onChange="checkBoxChanged(this, 'appendix');"/>
              <span>Include an appendix</span>
            </label>
          </div>
        </div>  
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light right" id="generate" type="submit"> 
          Generate<i class="material-icons right">send</i>
        </button> 
      </div> 
    </form>  
  </section>

  <!-- Preview Modal -->
  <div id="previewModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Question Preview</h4>
      <div id="previewModalContent"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
  </div>

   <!-- Options Modal -->
  <div id="optionsModal" class="modal modal-fixed-footer modal-not-dismissible dialog-modal">
    <div class="modal-content">
      <h4>Options</h4>
      <div id="optionsModalContent"></div>
    </div>
    <div class="modal-footer" id="optionsModalFooter">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat disabled" id="optionsModalRetry">RETRY</a>
      <a href="exams" class="modal-close waves-effect waves-green btn-flat disabled" id="optionsModalCreate">CREATE NEW</a>
      <a href="exams-my" class="modal-close waves-effect waves-green btn-flat disabled" id="optionsModalView">VIEW CREATED</a>
    </div>
  </div>

<%- include('partials/footer') -%>
<script src="exams-script.js"></script>
</body>
</html>